@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    color: #525252;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Abril Fatface', cursive; */
    color: #242424;
}

.container {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

header {}

.top-banner {
    background-image: url("/images/top-banner.png");
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    width: 50%;
    float: left;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 1.2;
}

.header-content h1 span {
    color: #ffa132;
}

.header-content h3 {
    margin-top: 20px;
}

.header-content p {
    font-size: 16px;
    width: 94%;
    margin-top: 10px;
    margin-bottom: 25px;
}

.header-content a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background-color: #ffa132;
    color: #fff;
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: 300;
}

.header-image {
    width: 50%;
    float: left;
    padding: 30px;
}

.header-image img {
    max-width: 100%;
    display: block;
}